<p>error-page works!</p>

<ul>
    <li>
        <a href="/auth/login">Ir al Login</a>
    </li>
    <li>
        <a href="/auth/registro">Ir al Registro</a>
    </li>
    
    <!-- 
        Tarea:
            https://gist.github.com/Klerith/c72ea2d4192567cb42a0f62e5d271724

        Para las pruebas de nuestros respectivos modulos:
        La idea es crear las rutas para poder ir a heroes
    -->
    <li>
        <a href="/heroes/listado">Ir al ListadoComponent</a>
    </li>
    <li>
        <a href="/heroes/agregar">Ir al AgregarComponent</a>
    </li>
    <li>
        <a href="/heroes/editar/5">Ir al AgregarComponent -> (Editar)</a>
    </li>
    <li>
        <a href="/heroes/buscar">Ir al BuscarComponent</a>
    </li>
    <li>
        <a href="/heroes/5">Ir al HeroeComponent (Ver Heroe)</a>
    </li>
</ul>